// Root settings and elements.
// -------------------------------------------------------

// Add CSS variables.
// https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
@if $duk-include-styles {
  :root {

    // Colors.
    @each $color, $value in $duk-colors {
      --#{$color}: #{$value};
    }

    // Palette.
    @each $color, $value in $duk-palette {
      --#{$color}: #{$value};
    }

    // Breakpoints.
    @each $name, $size in $duk-base-breakpoints {
      --breakpoint-#{$name}: #{$size};
    }

    // Font family.
    --font-family: #{inspect($duk-base-font-family)};

  }
}
