// Animation
// -------------------------------------------------------

// duk-animation--spin
//
// Add keyframes for a spinning element.
//
// Style guide: Mixins.duk-animation--spin
@mixin duk-animation--spin {
  @keyframes duk-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

// duk-animation-grow
//
// Add keyframes for a grow element.
//
// Style guide: Mixins.duk-animation--grow
@mixin duk-animation--grow {
  @keyframes duk-grow {
    0% { transform: scale(0); }
    50% { opacity: 1; }
  }
}

// duk-animation--line-loader
//
// Add keyframes for a Youtube style "line-loader".
//
// Style guide: Mixins.duk-animation--line-loader
@mixin duk-animation--line-loader {
  @keyframes duk-line-loader {
    0% { width: 0; margin-left: 0; }
    50% { width: 100%; margin-left: 0; }
    100% { margin-left: 100%; width: 0; }
  }
}
