// Background
//
// Background related tools.
// -------------------------------------------------------

// duk-get-bg-color
//
// Get a background color from `$duk-bg-colors`.
//
// $color-name - The key that represents the color in the color map.
// $bg-colors - A map of the background colors.
//
// Style guide: Functions.duk-get-bg-color
@function duk-get-bg-color($color-name, $bg-colors: $duk-bg-colors) {
  @return map-get($bg-colors, $color-name);
}

// duk-bg-color
//
// Set a background color from `$duk-bg-colors`.
//
// $color-name - The key that represents the color in the color map.
// $bg-colors - A map of the background colors.
//
// Style guide: Mixins.duk-bg-color
@mixin duk-bg-color($color-name, $bg-colors: $duk-bg-colors) {
  background-color: duk-get-bg-color($color-name, $bg-colors);
}

// duk-bg-color-alpha
//
// Set a background color alpha from `$duk-bg-colors`.
//
// $color-name - The key that represents the color in the color map.
// $alpha - Transparency value in percent 100% is opaque 0% is transparent.
// $bg-colors - A map of the background colors.
//
// Style guide: Mixins.duk-bg-color-alpha
@mixin duk-bg-color-alpha($color-name, $alpha, $bg-colors: $duk-bg-colors) {
  background-color: rgba(duk-get-bg-color($color-name, $bg-colors), $alpha);
}

// duk-bg-scale-crop
//
// Add properties to compliment a background image that is using a CSS scale and crop.
// It sets disables repeat, sets position to centered and background size is cover.
// Width and height of the image needs to be managed elsewhere. Or via `duk-responsive-aspect-ratio()`.
//
// $image - Optional image url.
//
// Style guide: Mixins.duk-bg-scale-crop
@mixin duk-bg-scale-crop($image: false) {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @if $image {
    background-image: url($image);
  }
}
