// Border
//
// Border related tools.
// -------------------------------------------------------

// duk-get-border-color
//
// Get a border color from `$duk-border-colors`.
//
// $color-name - The key that represents the color in the color map.
// $border-colors - A map of the border colors.
//
// Style guide: Functions.duk-get-border-color
@function duk-get-border-color($color-name: 'default', $border-colors: $duk-border-colors) {
  @return map-get($border-colors, $color-name);
}

// duk-border
//
// Return border style.
//
// Example: `border-bottom: duk-border(primary, 2px, dotted);`
//
// $color-name - The key that represents the color in the color map.
// $size - The size of the border (defaults to 1px)
// $type - The type of border (defaults to solid).
// $border-colors - A map of the border colors.
//
// Style guide: Functions.duk-border
@function duk-border($color-name: 'default', $size: 1px, $type: solid, $border-colors: $duk-border-colors) {
  @return $size $type duk-get-border-color($color-name, $border-colors);
}

// duk-border-color
//
// Set a border color from `$duk-border-colors`.
//
// $color-name - The key that represents the color in the color map.
// $border-colors - A map of the border colors.
//
// Style guide: Mixins.duk-border-color
@mixin duk-border-color($color-name: 'default', $border-colors: $duk-border-colors) {
  border-color: duk-get-border-color($color-name, $border-colors);
}

// duk-border-color-alpha
//
// Set a border color alpha from `$duk-border-colors`.
//
// $color-name - The key that represents the color in the color map.
// $alpha - Transparency value in percent 100% is opaque 0% is transparent.
// $border-colors - A map of the border colors.
//
// Style guide: Mixins.duk-border-color-alpha
@mixin duk-border-color-alpha($color-name: 'default', $alpha: 1, $border-colors: $duk-border-colors) {
  background-color: rgba(duk-get-border-color($color-name, $border-colors), $alpha);
}

// duk-get-border-radius
//
// Get a border radius from `$duk-border-radii`.
//
// $radius-type - The key that represents the radius in the radius map.
// $border-radii - A map of the border radii.
//
// Style guide: Functions.duk-get-border-radius
@function duk-get-border-radius($radius-type: 'regular', $border-radii: $duk-border-radii) {
  @return map-get($border-radii, $radius-type);
}

// duk-border-radius
//
// Set a border radius from `$duk-border-radii` to apply rounded corners.
//
// $radius-type - The key that represents the radius in the radius map.
// $direction - applies effect to selected corners. Accepted options: 'all', 'top', 'bottom', 'left', 'right'
// $border-radii - A map of the border radii.
//
// Style guide: Mixins.duk-border-radius
@mixin duk-border-radius($radius-type: 'regular', $direction: all, $border-radii: $duk-border-radii) {
  @if $direction == all {
    border-radius: duk-get-border-radius($radius-type, $border-radii);
  }

  @if $direction == top {
    border-radius: duk-get-border-radius($radius-type, $border-radii) duk-get-border-radius($radius-type, $border-radii) 0 0;
  }

  @if $direction == bottom {
    border-radius: 0 0 duk-get-border-radius($radius-type, $border-radii) duk-get-border-radius($radius-type, $border-radii);
  }

  @if $direction == left {
    border-radius: duk-get-border-radius($radius-type, $border-radii) 0 0 duk-get-border-radius($radius-type, $border-radii);
  }

  @if $direction == right {
    border-radius: 0 duk-get-border-radius($radius-type, $border-radii) duk-get-border-radius($radius-type, $border-radii) 0;
  }
}