// Breakpoints
// -------------------------------------------------------

// duk-breakpoint
//
// This mixin acts as a wrapper for `breakpoint()`.
//
// $name - Breakpoint name
// $breakpoints - Breakpoint map
//
// Style guide: Mixins.duk-susy-breakpoint
@mixin duk-breakpoint($name, $breakpoints: $duk-base-breakpoints) {
  @include breakpoint(map-get($breakpoints, $name)) {
    @content;
  }
}

// duk-at-breakpoint
//
// A wrapper for state based breakpoints.
//
// Use state based breakpoints to normalise a state rather than a size. Example
// Update $duk-base-breakpoint-states to include states where a number of things
// might change. Eg. desktop-header, sidebar-visible, etc. This means you can
// easily change when that state occurs.
//
// $name - Breakpoint name
// $breakpoints - Breakpoint map
//
// Style guide: Mixins.duk-at-breakpoint
@mixin duk-at-breakpoint($name, $breakpoints: $duk-base-breakpoint-states) {
  @include duk-breakpoint(map-get($breakpoints, $name)) {
    @content;
  }
}
