// Breadcrumb styles
// -------------------------------------------------------

// Default delimiter.
$duk-breadcrumb-delimit-character:      "\00BB" "\00A0" !default;

// Path style delimiter (like GitHub)
$duk-breadcrumb-path-delimit-character: "\002F" "\00A0" !default;

// duk-breadcrumb
//
// Apply breadcrumb styles.
//
// $delimiter - The character used to split crumbs
//
// Style guide: Mixins.duk-breadcrumb
@mixin duk-breadcrumb($delimiter: $duk-breadcrumb-delimit-character) {
  @include duk-clearfix;
  &, > ol, > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      &,
      > a {
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
    }

    > li + li:before {
      content: $delimiter;
    }
  }
}
