// Button styles
//
// Inspiration from:
//  * https://github.com/twbs/bootstrap/blob/v4-dev/scss/_buttons.scss
//  * https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_buttons.scss
// -------------------------------------------------------

// duk-button-size
//
// Change the size of a button. Most of the time you can do this with simply changing the font size as
// padding is relative and line height uses golden ratio.
//
// $padding - The button padding
// $font-size - The button font size
// $border-radius - The button radius
// $line-height - The button line height (default `$duk-base-line-height`)
//
//
// Style guide: Mixins.duk-button-size
@mixin duk-button-size($padding, $font-size, $border-radius, $line-height: $duk-base-line-height) {
  padding: $padding;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// duk-button
//
// Base button mixin
//
// $button-settings - A map that contains the button appearance settings.
//
// Style guide: Mixins.duk-button
@mixin duk-button($button-settings: $duk-base-button-settings) {
  display: inline-block;
  font-weight: map-get($button-settings, font-weight);
  color: map-get($button-settings, color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: map-get($button-settings, border-width) solid transparent;
  margin: 0 0.1em 0.1em 0;
  @include duk-button-size(
      map-get($button-settings, padding),
      map-get($button-settings, font-size),
      map-get($button-settings, border-radius),
      $duk-base-line-height
  );

  &:hover, &.hover {
    color: map-get($button-settings, color);
    text-decoration: none;
  }

  &:focus, &.focus {
    outline: 0;
  }

  &.disabled, &:disabled {
    opacity: 0.5;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// duk-button-variant
//
// Apply variant to button based on colors. The text color will be automatically calculated.
//
// $background - Background color
// $border - Border color
// $hover-background - Hover background color (defaults to 7.5% darker)
// $hover-border - Hover border color (defaults to 7.5% darker)
// $active-background - Active background color (defaults to 12% darker)
// $active-border - Active border color (defaults to 12% darker)
//
// Style guide: Mixins.duk-button-variant
@mixin duk-button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 7.5%), $active-background: darken($background, 12%), $active-border: darken($border, 12%)) {
  color: duk-color-yiq($background);
  border-color: $border;
  background-color: $background;

  &:hover, &.hover, &:focus {
    color: duk-color-yiq($hover-background);
    border-color: $hover-border;
    background-color: $hover-background;
  }

  &.disabled, &:disabled {
    color: duk-color-yiq($background);
    background-color: $background;
    border-color: $border;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: duk-color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;
  }
}

// duk-button-apply-style
//
// Apply styles to all possible button types. Includes `a`, `button`, `input[type="button"]`, `input[type="reset"]`
// and `input[type="submit"]`. Ideal usage is with a button set.
//
// Style guide: Mixins.duk-button-apply-style
@mixin duk-button-apply-style {
  a,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @content;
  }
}

// duk-button-group
//
// A group of buttons that sit flush against each other.
//
// $button-selector - The selector for the button
// $button-settings - The button appearance settings (used only for border radius).
//
// Style guide: Mixins.duk-button-group
@mixin duk-button-group($button-selector: 'a', $button-settings: $duk-base-button-settings) {
  $border-radius: map-get($button-settings, border-radius);
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  #{$button-selector} {
    margin: 0;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}