// Flex grids
// -------------------------------------------------------

// duk-flex-grid
//
// Wrapper that contains grid items
//
// Style guide: Mixins.duk-flex-grid
@mixin duk-flex-grid() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

// duk-flex-grid-col-count
//
// Define the column count in a grid. Applies to grid item.
//
// $columns - The count of columns
// $gutter - The horizontal gutter between grid items (default 1.5%).
//
// Style guide: Mixins.duk-flex-grid-col-count
@mixin duk-flex-grid-col-count($columns, $gutter: 1.5%) {
  @include duk-gutter-horizontal(($gutter * 0.5), padding);
  width: percentage(math.div(1, $columns));
}

// duk-flex-grid-responsive
//
// Responsive Flex grid. Should be applied to the direct wrapper of the grid columns. Example:
// ```
// ul {
//   @include duk-flex-grid-responsive((small: 1, medium: 2, large: 3));
// }
// ```
//
// $grid-map - A SASS map with the keys defining the breakpoint and the values defining the column count. Eg. (medium: 2, large: 3, x-large: 4)
// $gutter - Gutter applied between grid items (default 1.5%).
//
// Style guide: Mixins.duk-flex-grid-responsive
@mixin duk-flex-grid-responsive($grid-map: (), $gutter: 1.5%) {
  $bps: map-keys($grid-map);

  // Only apply flex display to wrapper at first breakpoint.
  @include duk-breakpoint(nth($bps, 1)) {
    @include duk-flex-grid;
    @include duk-gutter-horizontal(-($gutter * 0.5), margin);
  }

  > * {
    @each $bp, $cols in $grid-map {
      @include duk-breakpoint($bp) {
        @include duk-flex-grid-col-count($cols, $gutter);
      }
    }
  }
}

// duk-flex-grid-gutter
//
// Adds a gutter to each column in a flex grid whilst ensuring the edges of the grid are not indented.
// It does this by setting a negative margin on parent to offset the grid item padding. Using the `$gutter` on
// `duk-flex-grid-col-count` is a better way to achieve this.
//
// $gutter-size - The size of the gutter.
// $child-selector - The selector for the grid columns.
//
// Style guide: Mixins.duk-flex-grid-gutter
@mixin duk-flex-grid-gutter($gutter-size: $duk-half-spacing-unit, $child-selector: '*') {
  margin: (-$gutter-size);
  padding: 0;

  > #{$child-selector} {
    padding: $gutter-size;
    margin: 0;
  }
}
