// Flyout
// -------------------------------------------------------

$duk-flyout-namespace:        $duk-namespace !default;
$duk-flyout-content-selector: '.#{$duk-flyout-namespace}flyout__content' !default;

// duk-flyout
//
// Flyout wrapper. Flyouts are pieces of content that fly out of a parent when said parent is hovered.
//
// NOTE: Consider touch screens where this becomes quite useless.
//
// $flyout-content-selector - The selector of the child content element
// $direction - Where the flyout appears. top, bottom, left, right (default is bottom).
//
// Style guide: Mixins.duk-flyout
@mixin duk-flyout($flyout-content-selector: $duk-flyout-content-selector, $direction: bottom) {
  overflow: hidden;
  position: relative;

  // Hide the content off screen when not hover.
  #{$flyout-content-selector} {
    left: -99999px;
    position: absolute;
    top: 100%;
    z-index: 1;
  }

  // On hover, adjust left position to make it visible on the left, right, top, bottom
  &:hover, .hover {
    overflow: visible;

    #{$flyout-content-selector} {
      @if $direction == left {
        left: auto;
        right: 100%;
        top: 0;
      }
      @else if $direction == right {
        left: 100%;
        top: 0;
      }
      @else if $direction == top {
        left: 0;
        top: auto;
        bottom: 100%;
      }
      @else if $direction == bottom {
        left: 0;
      }
    }
  }
}
