// Functions
//
// Generic functions
// -------------------------------------------------------

// map-deep-get
//
// Return a value from a nested map.
//
// $map - CSS Map
// $keys - First param is the key of the first level, Second is key from second level, etc.
//
// Style guide: Functions.map-deep-get
@function map-deep-get($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}

// duk-color-yiq
//
// Return the correct contrast color. [Source](https://github.com/twbs/bootstrap/blob/v4.2.1/scss/_functions.scss)
//
// $color - Color to check contrast against
// $dark - Color to return if dark required
// $light - Color to return if light required
//
// Style guide: Functions.duk-color-yiq
@function duk-color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) * 0.001;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}
