// Icon
// -------------------------------------------------------

// duk-icon-get-set
//
// Get a specific icon set.
//
// $set-name - Name of the set, (defaults to `duk`)
// $icon-sets - A collection of icon maps keyed by the name of the set (defaults `$duk-icons`).
//
// Style guide: Functions.duk-icon-get-set
@function duk-icon-get-set($set-name: $duk-icon-default-set, $icon-sets: $duk-icons) {
  @return map-get($icon-sets, $set-name);
}

// duk-icon-get-code
//
// Get a specific icon from a set.
//
// $icon-name - The icon code that is in the icon map for the set.
// $set-name - Name of the set, (defaults to `duk`)
//
// Style guide: Functions.duk-icon-get-code
@function duk-icon-get-code($icon-name, $set-name: $duk-icon-default-set) {
  $icon-mappings: duk-icon-get-set($set-name);
  @return map-deep-get($icon-mappings, 'codes', $icon-name);
}

// duk-icon-get-codes
//
// Get all codes from a set
//
// $set-name - Name of the set, (defaults to `duk`)
//
// Style guide: Functions.duk-icon-get-codes
@function duk-icon-get-codes($set-name: $duk-icon-default-set) {
  $icon-mappings: duk-icon-get-set($set-name);
  @return map-get($icon-mappings, 'codes');
}

// duk-icon-font-load
//
// Adds the icon font-face to the css. Adding this means each page will load the icon font adding overhead, use sparingly.
//
// $set-name - Name of the set, (defaults to `duk`)
//
// Style guide: Mixins.duk-icon-font-load
@mixin duk-icon-font-load($set-name: $duk-icon-default-set) {
  $icon-mappings: duk-icon-get-set($set-name);
  @include duk-font-load(
      map-get($icon-mappings, 'font-family'),
      map-get($icon-mappings, 'path'),
      map-get($icon-mappings, 'filename')
  );
}

// duk-icon
//
// Adds the css for a specific icon.
//
// $icon-name - Name of the icon code. If ommited then icon font/size/etc is still returned.
// $set-name - Name of the set, (defaults to `duk`)
// $pseudo - The pseudo selector, eg `before` / `after` (defaults to `before`)
//
// Style guide: Mixins.duk-icon
@mixin duk-icon($icon-name: nil, $set-name: $duk-icon-default-set, $pseudo: 'before') {
  $icon-mappings: duk-icon-get-set($set-name);
  &:#{$pseudo} {
    display: inline-block;
    font-family: map-get($icon-mappings, 'font-family');
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @content;
  }

  @if $icon-name {
    $icon-code: duk-icon-get-code($icon-name, $set-name);
    @if $icon-code {
      &:#{$pseudo} {
        content: $icon-code;
      }
    }
    @else if($icon-name != nil) {
      @warn "Unknown icon code: #{$icon-name}";
    }
  }
}

// duk-icon-square-button
//
// Generate a square button/element with an icon vertically centered inside. Would generally apply to an `a` tag
// that contains a child `i` tag that represents the icon.
//
// $size - The width and height of the button.
// $icon-name - Optional icon to include
// $set-name - Icon set to use
//
// Style guide: Mixins.duk-icon-square-button
@mixin duk-icon-square-button($size, $icon-name: false, $set-name: $duk-icon-default-set) {
  display: flex;
  align-self: center;
  justify-content: center;
  width: $size;
  height: $size;

  > * {
    line-height: $size;

    @if $icon-name {
      @include duk-icon($icon-name, $set-name);
    }

    &:before {
      vertical-align: middle;
    }
  }
}

// duk-icon-generate-classes
//
// Generates all icon css for a set. This generates a lot of classes.
//
// $set-name - Name of the set, (defaults to `duk`)
// $namespace - Prefix for icons generated (defaults to `duk-`)
//
// Style guide: Mixins.duk-icon-generate-classes
@mixin duk-icon-generate-classes($set-name: $duk-icon-default-set, $namespace: $duk-namespace) {
  $icon-mappings: duk-icon-get-set($set-name);
  [class*="#{$namespace}icon-"] {
    @include duk-icon(false, $set-name);
  }

  @each $icon-name, $icon-code in duk-icon-get-codes($set-name) {
    .#{$namespace}icon-#{$icon-name}:before {
      content: "#{$icon-code}";
    }
  }
}
