// Islands
//
// Islands are a box with gutters and margins applied.
// -------------------------------------------------------

// duk-island
//
// Base island.
//
// $gutter - Padding applied to island.
//
// Style guide: Mixins.island
@mixin duk-island($gutter: $duk-base-gutter) {
  padding: $gutter;

  // Respect the padding, fool.
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
