// Layout
//
// Layout tools.
// -------------------------------------------------------

// duk-container
//
// Creates a container with constraints.
//
// $size-name - The key that represents the size in the container map.
// $container-sizes - A map of the container sizes.
//
// Style guide: Mixins.duk-container
@mixin duk-container($size-name, $container-sizes: $duk-base-containers) {
  max-width: map-get($container-sizes, $size-name);
  margin-left: auto;
  margin-right: auto;
}

// duk-get-spacing
//
// Get a spacing value from `$duk-base-spacing`.
//
// $spacing-type - The key that represents the spacing in the spacing map.
// $spaces - A map of spacing values.
@function duk-get-spacing($spacing-type: 'regular', $spaces: $duk-base-spacing) {
  @return map-get($spaces, $spacing-type);
}

// duk-spacing
//
// Sets margin or padding on an element. Use 'none' to apply 0 value.
//
// $spacing-format - Type of spacing to be applied: padding or margin.
// $spacing-top - value of top space matching key in map specified, used for other spaces if no other value passed.
// $spacing-right - value of right space matching key in map specified, used for horizontal spaces if no other value passed.
// $spacing-bottom - value of left space matching key in map specified, leave blank to use $spacing-top value for vertical spacing.
// $spacing-left - value of left space matching key in map specified, leave blank to use $spacing-right value for horizontal spacing.
@mixin duk-spacing($spacing-format: 'padding', $spacing-top: 'regular', $spacing-right: '', $spacing-bottom: '', $spacing-left: '', $spaces: $duk-base-spacing) {
  @if $spacing-right == '' {
    $spacing-right: $spacing-top;
  }

  @if $spacing-bottom == '' {
    $spacing-bottom: $spacing-top;
  }

  @if $spacing-left == '' {
    $spacing-left: $spacing-right;
  }

  #{$spacing-format}: duk-get-spacing($spacing-top, $spaces) duk-get-spacing($spacing-right, $spaces) duk-get-spacing($spacing-bottom, $spaces) duk-get-spacing($spacing-left, $spaces);
}