// Loaders
// -------------------------------------------------------

// duk-loader--spin
//
// A spinning border loader.
//
// $size - The size of the spinner
//
// Style guide: Mixins.duk-loader--spin
@mixin duk-loader--spin($size: 2rem) {
  display: inline-block;
  width: $size;
  height: $size;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: duk-spin .75s linear infinite;
}

// duk-spinner--grow
//
// A spinning grow loader.
//
// $size - The size of the spinner
//
// Style guide: Mixins.duk-loader--grow
@mixin duk-loader--grow($size: 2rem) {
  display: inline-block;
  width: $size;
  height: $size;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: duk-grow .75s linear infinite;
}

// duk-spinner--line
//
// A youtube style line loader.
//
// $size - The height
//
// Style guide: Mixins.duk-loader--line
@mixin duk-loader--line($size: 4px, $speed: 4s) {
  @include duk-progress-bar($size, false);
  z-index: 999999;

  > * {
    animation: duk-line-loader $speed infinite linear;
  }
}
