// Messages tools
//
// Mixins for creating message callouts.
// -------------------------------------------------------

// duk-message-base
//
// Base for a message callout.
//
// $gutter - message padding/margin bottom.
//
// Style guide: Mixins.duk-message-base
@mixin duk-message-base($gutter: $duk-base-gutter) {
  @include duk-island($gutter);
  box-shadow: none;
  background: rgba(black, 0.05);
  margin-bottom: $gutter;
}

// duk-message-colors
//
// Apply colors to a message callout.
//
// $base-color - The base message color, see `duk-palette-element()`
// $link-color - The link color, see `duk-palette-font-color-state()`
//
// Style guide: Mixins.duk-message-colors
@mixin duk-message-colors($base-color, $link-color: darken($base-color, 60%)) {
  @include duk-palette-element($base-color);

  a {
    @include duk-palette-font-color-state($link-color);
    font-weight: bold;
  }
}
