// Overlay
//
// Overlays present new content on hover.
// -------------------------------------------------------

$duk-overlay-area-selector: '.#{$duk-namespace}overlay__area' !default;
$duk-overlay-padding:       $duk-half-spacing-unit !default;
$duk-overlay-background:    rgba(#ccc, 0.9) !default;
$duk-overlay-color:         #333 !default;

// duk-overlay
//
// Wrapper for overlay element
//
// $overlay-area-selector - Selector to use for overlay content
//
// Style guide: Mixins.duk-overlay
@mixin duk-overlay($overlay-area-selector: $duk-overlay-area-selector) {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;

  &:hover #{$overlay-area-selector} {
    opacity: 1;
  }
}

// duk-overlay__area
//
// Overlay area that displays on hover.
//
// Style guide: Mixins.duk-overlay__area
@mixin duk-overlay__area {
  @include duk-vertical-align-wrapper;
  background: $duk-overlay-background;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// duk-overlay__area-content
//
// Overlay area content horizontally and vertically aligned.
//
// Style guide: Mixins.duk-overlay__area-content
@mixin duk-overlay__area-content {
  @include duk-vertical-align-content(center);
  box-sizing: border-box;
  color: $duk-overlay-color;
  padding: $duk-overlay-padding;
  text-align: center;
  width: 100%;
}
