// Palette
//
// Palette related tools.
// -------------------------------------------------------

// duk-get-palette-color
//
// Get a color by name from the $duk-palette map
//
// $name - Name of the color to extract from the palette map.
//
// Style guide: Functions.duk-palette-element
@function duk-get-palette-color($name) {
  @return map-get($duk-palette, $name);
}

// duk-palette-element
//
// Apply a palette to an element
//
// This allows defining border/background/text colors by only providing a single color.
//
// $base-color - Border color and if no background/font color set, will be the base for those colors.
// $background-color - Override the background color. If not set will use 10% lighter than border.
// $font-color - Override the font color. If not set will use 50% darker than border.
// $heading-color - Override the heading color. If not set will use 80% darker than border.
//
// Style guide: Mixins.duk-palette-element
@mixin duk-palette-element($base-color, $background-color: lighten($base-color, 10%), $font-color: darken($base-color, 50%), $heading-color: darken($base-color, 70%)) {
  border: 1px solid $base-color;
  background-color: $background-color;
  color: $font-color;

  @include duk-headings {
    color: $heading-color;
  }

  hr {
    border-top: $base-color
  }
}

// duk-palette-font-color-state
//
// Apply a palette to font color states. Ideal for links
//
// $base-color - Font color, will be the base for those colors.
// $hover-color - Override the hover color. If not set will use 20% darker than base.
// $active-color - Override the active color. If not set will use 30% darker than base.
// $focus-color - Override the focus color. If not set will use 30% darker than base.
//
// Style guide: Mixins.duk-palette-font-color-state
@mixin duk-palette-font-color-state($base-color, $hover-color: false, $active-color: false, $focus-color: false) {
  color: $base-color;

  &:hover {
    @if $hover-color {
      color: $hover-color;
    }
    @else {
      color: darken($base-color, 20%);
    }
  }

  &:active, &.active, &.is-active {
    @if $hover-color {
      color: $active-color;
    }
    @else {
      color: darken($base-color, 30%);
    }
  }

  &:focus {
    @if $hover-color {
      color: $focus-color;
    }
    @else {
      color: darken($base-color, 30%);
    }
  }
}
