// Position
// Collection of mixins to control element position.
// -------------------------------------------------------

// Various position types.
$duk-base-positions: (static, relative, absolute, fixed, sticky);

// duk-position
//
// This mixin provides an easy way to position an element.
//
// Example:
//
// Position an element absolutely 50% from the top and 1em from the left:
// `@include duk-position(absolute, top 50% left 1em);`
//
// This generates the CSS:
// ```
//  position: absolute;
//  top: 50%;
//  left: 1em;
// ```
//
// $position - The type of positioning, e.g absolute, relative.
// $args - The direction and amount, e.g top `1em left 5em`.
//
// Style guide: Mixins.duk-position
@mixin duk-position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
      #{$o}: nth($args, $i + 1);
    }
  }

  position: $position;
}

// duk-position-absolute
//
// This mixin provides an easy way to absolutely position an element.
// It is a wrapper for `@mixin duk-position.`
//
// $args - The direction and amount, e.g `top 1em left 5em`.
//
// Style guide: Mixins.duk-position-absolute
@mixin duk-position-absolute($args) {
  @include duk-position(absolute, $args);
}

// duk-position-relative
//
// This mixin provides an easy way to relatively position an element.
// It is a wrapper for `@mixin duk-position`.
//
// $args - The direction and amount, e.g `top 1em left 5em`.
//
// Style guide: Mixins.duk-position-relative
@mixin duk-position-relative($args) {
  @include duk-position(relative, $args);
}

// duk-position-fixed
//
// This mixin provides an easy way to fixed position an element.
// It is a wrapper for @mixin duk-position.
//
// $args - The direction and amount, e.g `top 1em left 5em`.
//
// Style guide: Mixins.duk-position-fixed
@mixin duk-position-fixed($args) {
  @include duk-position(fixed, $args);
}

// duk-z-index
//
// Get a z-index from `$duk-base-z-index`
//
// $z - The key that represents the z-index.
// $z-indexes - A map of the z indexes.
//
// Style guide: Mixins.duk-z-index
@mixin duk-z-index($z, $z-indexes: $duk-base-z-index) {
  z-index: map-get($z-indexes, $z);
}
