// Resets.
// -------------------------------------------------------

// duk-reset-edges
//
// Reset all padding and margins to zero on an element.
//
// Style guide: Mixins.duk-reset-edges
@mixin duk-reset-edges() {
  margin: 0;
  padding: 0;
}

// duk-reset-list
//
// Reset padding, margin, list-style on a ordered/unordered list.
//
// Style guide: Mixins.duk-reset-list
@mixin duk-reset-list() {
  &, li {
    @include duk-reset-edges;
    list-style: none;
  }
}

// duk-reset-appearance
//
// Reset appearance properties on an element.
//
// Style guide: Mixins.duk-reset-appearance
@mixin duk-reset-appearance() {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}
