// Responsive aspect ratio
//
// Make and element that has a responsive aspect ratio (square, 16:9)
// -------------------------------------------------------

// duk-responsive-aspect-ratio
//
// Make and element that has a responsive aspect ratio (eg. square, 16:9). To create a square set x/y to 1.
//
// $x - Horizontal aspect (integer)
// $y - Vertical aspect (integer)
// $content-selector - The child element that contains the content.
//
// Style guide Mixins.duk-responsive-aspect-ratio
@mixin duk-responsive-aspect-ratio($x: 1, $y: 1, $content-selector: '> *') {
  overflow: hidden;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: math.div($y, $x) * 100%;
  }

  #{$content-selector} {
    @include duk-position-absolute(top 0 left 0 right 0 bottom 0);
  }
}

// duk-responsive-video-iframe
//
// Make iframe videos responsive and retain a 16:9 aspect ratio
//
// Style guide: Mixins.duk-responsive-video-iframe
@mixin duk-responsive-video-iframe {
  @include duk-responsive-aspect-ratio(16, 9, 'iframe');

  iframe {
    width: 100%;
    height: 100%;
  }
}
