// Shadow
//
// Shadow related tools.
// -------------------------------------------------------

// duk-get-shadow-color
//
// Get a shadow color from `$duk-shadow-colors`.
//
// $color-name - The key that represents the color in the color map.
// $shadow-colors - A map of the shadow colors.
//
// Style guide: Functions.duk-get-shadow-color
@function duk-get-shadow-color($color-name: 'default', $shadow-colors: $duk-shadow-colors) {
  @return map-get($shadow-colors, $color-name);
}

// duk-shadow
//
// Return shadow style.
//
// Example: `@include duk-shadow('default', '0 0px 8px 0', 0.5);`
//
// $color-name - The key that represents the color in the color map.
// $size - The size of the shadow (defaults to 1px)
// $type - The type of shadow (defaults to solid).
// $shadow-colors - A map of the shadow colors.
//
// Style guide: Mixins.duk-shadow
@mixin duk-shadow($color-name: 'default', $size: 0 0px 8px 0, $opacity: 1, $shadow-colors: $duk-shadow-colors) {
  box-shadow: $size rgba(duk-get-shadow-color($color-name, $shadow-colors), $opacity) !important;
}

// duk-shadow-style
//
// Apply a shadow style from the shadow map.
//
// Example: `@include duk-shadow-style('1');`
//
// $style-name - The key that represents the style in the shadow map.
//
// Style guide: Mixins.duk-shadow-style
@mixin duk-shadow-style($style-name, $shadow-styles: $duk-base-shadows) {
  $style: map-get($shadow-styles, $style-name);
  @include duk-shadow(map-get($style, 'color'), map-get($style, 'size'), map-get($style, 'opacity'));
}
