// Sidebar
// -------------------------------------------------------

$duk-base-sidebar-slideout-content-selector: '.#{$duk-namespace}sidebar-slideout__content' !default;
$duk-base-sidebar-slideout-open-selector: '.#{$duk-namespace}sidebar-slideout--open' !default;

// duk-sidebar-slideout
//
// Creates a slideout sidebar, this should be applied to the wrapper that contains only
// the content element to slide out.
//
// $content-selector - The content element to slide out (eg 'nav').
// $align - Does it slide out from the left or right (defaults to `left`).
// $max-width - The max width of the slideout content (defaults to `400px`).
// $speed - The speed of the slideout
//
// Style guide: Mixins.duk-sidebar-slideout
@mixin duk-sidebar-slideout($content-selector: $duk-base-sidebar-slideout-content-selector, $align: left, $max-width: 400px, $speed: 0.3s) {
  $opposite-align: if($align == left, right, left);
  @include duk-position-fixed(right 0 left 0 top 0 bottom 0);
  @include duk-z-index('max');
  background: rgba(0,0,0,0.5);
  transition: $speed background ease-in-out;
  #{$opposite-align}: auto;

  #{$content-selector} {
    @include duk-position-absolute(top 0 bottom 0 #{$align} 0);
    transition: $speed all ease-in-out;
    background: white;
    overflow-y: auto;
    margin-#{$align}: (-$max-width);
    max-width: $max-width;
    width: 100%;
  }
}

// duk-sidebar-slideout--open
//
// Applies the 'open' styles for a slideout sidebar, should be called on the same element as
// `duk-sidebar-slideout()` and use the same `$content-selector` and `$align`.
//
// $content-selector - The content element to slide out (eg 'nav').
// $align - Does it slide out from the left or right (defaults to `left`).
//
// Style guide: Mixins.duk-sidebar-slideout--open
@mixin duk-sidebar-slideout--open($content-selector: $duk-base-sidebar-slideout-content-selector, $align: left) {
  $opposite-align: if($align == left, right, left);
  #{$opposite-align}: 0;

  #{$content-selector} {
    margin-#{$align}: 0;
  }
}

// duk-sidebar-slideout--reset
//
// Resets all properties ued by `duk-sidebar-slideout()`, this is useful to apply at a larger
// breakpoint where the nav menu goes form say a sidebar to horizontal.
//
// $content-selector - The content element to slide out (eg 'nav').
//
// Style guide: Mixins.duk-sidebar-slideout--reset
@mixin duk-sidebar-slideout--reset($content-selector: $duk-base-sidebar-slideout-content-selector) {
  &, #{$content-selector} {
    @include duk-position-relative(left auto right auto top auto bottom auto);
    position: static;
    background: none;
    transition: none;
    margin: auto;
    max-width: none;
    width: auto;
    overflow-y: initial;
  }
}
