// Text Align
// -------------------------------------------------------

// duk-text-align-vertically
//
// Align text vertically.
//
// $direction - Direction eg left, right, center, justify
//
// Style guide: Mixins.duk-text-align-vertically
@mixin duk-text-align-horizontally($direction) {
  text-align: $direction !important;
}

// duk-text-align-vertically
//
// Align text vertically.
//
// $direction - Direction eg top, bottom, middle
//
// Style guide: Mixins.duk-text-align-vertically
@mixin duk-text-align-vertically($direction) {
  vertical-align: $direction !important;
}
