// DUK Settings.
// You can override these in your own theme to adjust base output.
// ---------------------------------------------------

// Namespace.
$duk-namespace: 'duk-' !default;

// Set to true to include duk styles.
$duk-include-styles: true !default;

// Base fonts
// ---------------------------------------------------

// 1. https://www.phpied.com/css-last-line-height-ever-need/
$duk-base-font-size:   16px !default;
$duk-base-line-height: 1.6 !default; /* 1 */
$duk-base-font-family: sans-serif !default;


// Spacing units
// ---------------------------------------------------

// The base gutter/margin used.
$duk-base-gutter:             1rem;

// Base spacing relative to gutter, preferred method using `rem`.
$duk-base-spacing: () !default;
$duk-base-spacing: map-merge((
  'none':             0,
  'smaller':          $duk-base-gutter * 0.5,
  'small':            $duk-base-gutter * 0.8,
  'regular':          $duk-base-gutter,
  'medium-small':     $duk-base-gutter * 1.25,
  'medium':           $duk-base-gutter * 1.5,
  'medium-large':     $duk-base-gutter * 1.85,
  'large':            $duk-base-gutter * 2,
), $duk-base-spacing);

// You should use relative units as a preference over these. eg `em` or `rem`.
$duk-base-spacing-unit:       24px !default;
$duk-half-spacing-unit:       $duk-base-spacing-unit * 0.5 !default;
$duk-quarter-spacing-unit:    $duk-base-spacing-unit * 0.25 !default;
$duk-one-n-half-spacing-unit: $duk-base-spacing-unit * 1.5 !default;
$duk-double-spacing-unit:     $duk-base-spacing-unit * 2 !default;
$duk-triple-spacing-unit:     $duk-base-spacing-unit * 3 !default;


// Typography
// ---------------------------------------------------

// Font sizes.
$duk-base-font-sizes: () !default;
$duk-base-font-sizes: map-merge((
  'body':     (size: $duk-base-font-size, height: $duk-base-line-height),
  'h1':       (size: 2.8em, height: $duk-base-line-height),
  'h2':       (size: 2.3em, height: $duk-base-line-height),
  'h3':       (size: 1.8em, height: $duk-base-line-height),
  'h4':       (size: 1.6em, height: $duk-base-line-height),
  'h5':       (size: 1.3em, height: $duk-base-line-height),
  'h6':       (size: 1.1em, height: $duk-base-line-height),
  'x-small':  (size: 0.7em, height: $duk-base-line-height),
  'small':    (size: 0.85em, height: $duk-base-line-height),
  'regular':  (size: 1em, height: $duk-base-line-height),
  'large':    (size: 1.3em, height: $duk-base-line-height),
  'x-large':  (size: 1.8em, height: $duk-base-line-height),
), $duk-base-font-sizes);

// Default margin for all headings.
$duk-heading-margin: 1rem 0 0.5rem 0 !default;

// Font weights
$duk-base-font-weights: () !default;
$duk-base-font-weights: map-merge((
  'light':      300,
  'regular':    400,
  'medium':     500,
  'bold':       700,
  'x-bold':     900,
), $duk-base-font-weights);

// Font extension and format mappings.
$duk-font-format-map: (
  'eot':    'embedded-opentype',
  'woff':   'woff',
  'woff2':  'woff2',
  'ttf':    'truetype',
) !default;

// Default formats to use with duk-font-load().
$duk-font-load-formats: ('eot', 'woff', 'ttf') !default;


// Colors
// ---------------------------------------------------

// Greyscale colours.
$duk-grays: () !default;
$duk-grays: map-merge((
  "white": #ffffff,
  "100": #f8f9fa,
  "200": #e9ecef,
  "300": #dee2e6,
  "400": #ced4da,
  "500": #adb5bd,
  "600": #6c757d,
  "700": #495057,
  "800": #343a40,
  "900": #212529,
  "black": #000000,
), $duk-grays);

// Base colors (all colours used throughout the site).
// http://chir.ag/projects/name-that-color
$duk-colors: () !default;
$duk-colors: map-merge((
  "blue":       #007bff,
  "indigo":     #6610f2,
  "purple":     #6f42c1,
  "pink":       #e83e8c,
  "red":        #dc3545,
  "orange":     #fd7e14,
  "yellow":     #ffc107,
  "green":      #28a745,
  "teal":       #20c997,
  "cyan":       #17a2b8,
  "white":      map-get($duk-grays, 'white'),
  "gray":       map-get($duk-grays, '600'),
  "gray-dark":  map-get($duk-grays, '800'),
), $duk-colors);

// The brand palette for the theme. This gets merged in with fonts/bg/border/shadow colors.
$duk-palette: () !default;
$duk-palette: map-merge((
  'primary':        map-get($duk-colors, 'blue'),
  'secondary':      map-get($duk-colors, 'indigo'),
  'tertiary':       map-get($duk-colors, 'gray'),
), $duk-palette);

// Font colors.
$duk-font-colors: () !default;
$duk-font-colors: map-merge($duk-palette, $duk-font-colors);
$duk-font-colors: map-merge((
  'body':         map-get($duk-grays, '800'),
  'heading':      map-get($duk-grays, '900'),
  'link':         map-get($duk-palette, 'primary'),
  'blockquote':   map-get($duk-grays, '600'),
  'description':  map-get($duk-grays, '600'),
  'lightest':     map-get($duk-grays, 'white'),
  'darkest':      map-get($duk-grays, '900'),
), $duk-font-colors);

// Background colors.
$duk-bg-colors: () !default;
$duk-bg-colors: map-merge($duk-palette, $duk-bg-colors);
$duk-bg-colors: map-merge((
  'lightest':      map-get($duk-grays, 'white'),
), $duk-bg-colors);

// Border colors.
$duk-border-colors: () !default;
$duk-border-colors: map-merge($duk-palette, $duk-border-colors);
$duk-border-colors: map-merge((
  'default':      map-get($duk-grays, '300'),
), $duk-border-colors);

// Shadow colors.
$duk-shadow-colors: () !default;
$duk-shadow-colors: map-merge($duk-palette, $duk-shadow-colors);
$duk-shadow-colors: map-merge((
  'default':      map-get($duk-grays, '900'),
), $duk-shadow-colors);

// Messages colors.
$duk-messages-colors: () !default;
$duk-messages-colors: map-merge((
  'success':  lighten(map-get($duk-colors, 'green'), 30%),
  'status':   lighten(map-get($duk-colors, 'green'), 30%),
  'warning':  lighten(map-get($duk-colors, 'orange'), 30%),
  'danger':   lighten(map-get($duk-colors, 'red'), 30%),
  'error':    lighten(map-get($duk-colors, 'red'), 30%),
  'inactive': map-get($duk-grays, '600'),
), $duk-messages-colors);

// Button colors.
$duk-button-colors: () !default;
$duk-button-colors: map-merge($duk-palette, $duk-button-colors);
$duk-button-colors: map-merge((
  'transparent':  rgba(map-get($duk-colors, 'white'), 0),
), $duk-button-colors);

// Island colors.
$duk-island-colors: () !default;
$duk-island-colors: map-merge((
  'primary':      lighten(map-get($duk-palette, 'primary'), 40%),
  'secondary':    lighten(map-get($duk-palette, 'secondary'), 40%),
  'tertiary':     lighten(map-get($duk-palette, 'tertiary'), 40%),
), $duk-island-colors);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             map-get($duk-colors, 'gray-dark') !default;
$yiq-text-light:            map-get($duk-colors, 'white') !default;


// Element settings
// ---------------------------------------------------

// Form element settings.
$duk-base-form-element: () !default;
$duk-base-form-element: map-merge((
  'background-color':   map-get($duk-grays, 'white'),
  'border':             1px solid map-get($duk-grays, '500'),
  'border-radius':      3px,
  'color':              map-get($duk-grays, '800'),
  'width':              100%,
  'max-width':          100%,
  'height':             auto,
  'line-height':        $duk-base-line-height,
  'padding':            0.5em 0.7em,
), $duk-base-form-element);

// Table settings.
$duk-base-table: () !default;
$duk-base-table: map-merge((
  'border-color':       map-get($duk-grays, '300'),
  'border-width':       1px,
  'width':              100%,
  'max-width':          100%,
  'tbody-background':   map-get($duk-grays, '100'),
  'cell-padding':       0.5rem,
), $duk-base-table);

// Button settings.
$duk-base-button-settings: () !default;
$duk-base-button-settings: map-merge((
  'font-weight':    normal,
  'border-width':   1px,
  'font-size':      inherit,
  'padding':        0.5em 1em,
  'color':          map-get($duk-font-colors, 'body'),
  'border-radius':  5px,
), $duk-base-button-settings);

// Button sizes.
$duk-base-button-sizes: () !default;
$duk-base-button-sizes: map-merge((
  'small': 80%,
  'large': 130%,
), $duk-base-button-sizes);

// Nav tabs.
$duk-base-nav-tabs: () !default;
$duk-base-nav-tabs: map-merge((
  'border-color':     map-get($duk-grays, '400'),
  'border-radius':    4px,
  'background-color': map-get($duk-grays, 'white'),
  'padding':          0.4rem 1rem,
  'active-color':     map-get($duk-font-colors, 'body'),
), $duk-base-nav-tabs);


// Shadows.
// ---------------------------------------------------

// Map of different shadow elevations.
$duk-base-shadows: () !default;
$duk-base-shadows: map-merge((
  'small': (color: 'default', size: 0 .125rem .25rem, opacity: 0.075),
  'regular': (color: 'default', size: 0 .5rem 1rem, opacity: 0.15),
  'large': (color: 'default', size: 0 1rem 3rem, opacity: 0.175),
), $duk-base-shadows);

// Breakpoints
// ---------------------------------------------------

// Default breakpoints available based on size.
$duk-base-breakpoints: () !default;
$duk-base-breakpoints: map-merge((
  'none': 0,
  'x-small': 300px,
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'x-large': 1200px,
  'xx-large': 1590px,
  'xxx-large': 1800px,
), $duk-base-breakpoints);

// Breakpoints based on a state mapping to an size.
//
// Use with duk-at-breakpoint() instead of duk-breakpoint().
// @example (desktop-header: large, side-nav-visible: medium)
$duk-base-breakpoint-states: () !default;
$duk-base-breakpoint-states: map-merge((
  'phablet': small,
  'tablet': medium,
  'laptop': large,
  'desktop': x-large,
), $duk-base-breakpoint-states);


// Grids
// ---------------------------------------------------

// Responsive grids available. Key is used for the class/placeholder name, value is a map of breakpoints => col count.
$duk-base-responsive-grids: () !default;
$duk-base-responsive-grids: map-merge((
  '2-col': (medium: 2),
  '3-col': (medium: 2, large: 3),
  '4-col': (medium: 2, x-large: 4),
  '5-col': (medium: 2, large: 3, x-large: 4, xx-large: 5),
), $duk-base-responsive-grids);

// Layout
// ---------------------------------------------------

// Container sizes, used with duk-container().
$duk-base-containers: () !default;
$duk-base-containers: map-merge((
  'small':      576px,
  'medium':     768px,
  'large':      992px,
  'x-large':    1200px,
  'xx-large':   1590px,
  'xxx-large':  1800px,
  'max':        1920px,
), $duk-base-containers);

// Z Index list
$duk-base-z-index: () !default;
$duk-base-z-index: map-merge((
  'under':   -1,
  'alpha':   0,
  'beta':    5,
  'gamma':   10,
  'delta':   20,
  'epsilom': 50,
  'zeta':    100,
  'max':     9999999,
), $duk-base-z-index);


// Icons
// ---------------------------------------------------

// Font path
// TODO: Find a better way to resolve this. The following will almost never work and always need an override.
$duk-icon-font-path: "../icons" !default;

// Import Duk Icons.
@import "settings/icon";

// The default Icon set to be used.
$duk-icon-default-set: 'duk' !default;

// Use a keyed map so we can easily access icon sets individually.
$duk-icons: () !default;
$duk-icons: map-merge((
  'duk': $duk-icon-mappings,
), $duk-icons);


// Borders
// ---------------------------------------------------

// Border radius values.
$duk-border-radii: () !default;
$duk-border-radii: map-merge((
  'small': 0.3rem,
  'regular': 0.65rem,
  'large': 1rem,
), $duk-border-radii);
