// Pretty up the style guide.

$sidebar-font-color: #ddd;
$primary-color: #f42534;

.kss-style {
  // General typography.
  h1, h2, h3, h4, h5 {
    font-weight: normal;
  }
  h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }

  .kss-parameters__title {
    color: $primary-color;
  }

  a {
    &, &:visited {
      color: $primary-color;
    }
    &:hover, &:focus, &:active {
      color: darken($primary-color, 15%);
    }
  }

  code {
    font-size: 0.9em;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
  }

  pre code {
    background: inherit;
    border: 0;
  }
}

#kss-node {
  .kss-sidebar {
    background: #1E1E1E;
    color: $sidebar-font-color;
    padding: 16px;

    h1, h2, h3, h4, h5 {
      color: white;
    }

    .kss-doc-title {
      font-size: 1.5em;
      border: 0;
      padding: 0;
      margin: 0;
    }

    .kss-header {
      margin-top: 1em;
    }
  }

  .kss-nav {
    &__ref {
      color: $sidebar-font-color;
      min-width: 25px;
      padding-right: 8px;
      display: inline-block;
    }

    &__menu-child {
      > li {
        background: #101010;
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px !important;
        padding-right: 16px !important;

        &:first-child {
          margin-top: 3px;
          padding-top: 10px;
        }

        &:last-child,
        &:first-child {
          border: 0;
        }
      }
    }
  }

  .kss-markup summary {
    padding: 7px 10px;
    cursor: pointer;

    &:hover {
      background: #f4f4f4;
    }
  }

  .kss-modifier__wrapper,
  details.kss-markup {
    border-radius: 3px;
  }

  .kss-toolbar {
    border: 0;
    background: none;
    display: block;
  }

  .kss-title__permalink {
    &:hover, &:focus, &:active {
      color: $primary-color;
    }
  }

  .kss-title__ref {
    color: #bbb;
  }
}

