// Image styles
// -------------------------------------------------------

// Image
//
// Image is responsive and spacing under image removed.
//
// .round - Make the image round.
// .right - Float image right
// .left - Float image left
//
// Style guide: Image.image
//
// Markup:
//  <div class="duk-clearfix">
//    <img class="{{modifier_class}}" src="http://placekitten.com/g/300/300">
//  <div>
@if $duk-include-styles {
  img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    width: auto;

    // TODO: Move below into mixins & placeholders.
    &.round {
      border-radius: 100%;
    }

    &.right {
      float: right;
      margin-bottom: $duk-base-gutter;
      margin-left: $duk-base-gutter;
    }

    &.left {
      float: left;
      margin-bottom: $duk-base-gutter;
      margin-right: $duk-base-gutter;
    }
  }
}
