// Typography styles
// -------------------------------------------------------
@if $duk-include-styles {
  body {
    font-family: $duk-base-font-family;
    @include duk-font-size(body);
    @include duk-font-color(body);
  }
}

// Headings
//
// All headings. Styled with `duk-headings()`.
//
// Style guide: Typography.headings
//
// Markup:
//   <h1>This is a heading 1</h1>
//   <h2>This is a Heading 2</h2>
//   <h3>This is a Heading 3</h3>
//   <h4>This is a Heading 4</h4>
//   <h5>This is a Heading 5</h5>
//   <h6>This is a Heading 6</h6>
@if $duk-include-styles {
  @include duk-headings {
    @include duk-font-color(heading);
  }

  @each $tag, $name in $duk-headings {
    @include duk-heading($tag) {
      @include duk-font-size($tag);
    }
  }
}

// Text
//
// Basic text styles including `a`, `strong`, `underline`, `em`, `hr`.
//
// Style guide: Typography.text
//
// Markup:
//   <p>Liquorice fruitcake lollipop. Sesame snaps muffin gummies cake. Apple pie
//   dessert sugar plum toffee <a href="#">marzipan bonbon sesame</a> snaps halvah.
//   Macaroon croissant sweet cheesecake. <em>Croissant icing</em> muffin. Gingerbread
//   pudding halvah bonbon chupa chups bonbon sugar plum fruitcake ice cream. Bear
//   claw <u>tootsie roll jujubes</u>.</p>
//   <hr />
//   <p>Jelly donut dragée sweet <a href="#">roll</a> sesame snaps <strong>tootsie
//   roll</strong>. Halvah powder chocolate cake pudding. Candy fruitcake jelly
//   beans cake. Marshmallow jelly apple pie cookie. Wafer chupa chups powder wafer.
//   <em>Danish cake candy</em>.</p>
@if $duk-include-styles {
  p {
    margin: $duk-base-gutter 0;
  }

  hr {
    @include duk-hr;
  }

  u {
    text-decoration: underline;
  }

  em {
    font-style: italic;
  }

  a {
    @include duk-palette-font-color-state(duk-get-font-color(link));
  }
}

// Font size variants.
//
// Helper classes to change text font size. Sizes are relative to the parent font size.
//
// .duk-text--x-small - Very small text
// .duk-text--small - Small text
// .duk-text--regular - Inherits to parent font size
// .duk-text--large - Large text
// .duk-text--x-large - Very large text
//
// Style guide Typography.font-size
//
// Markup:
//  <p class="{{ modifier_class }}">I am some text</p>
%#{$duk-namespace}text {
  @each $size in $duk-font-size-list {
    &--#{$size} { @include duk-font-size($size); }
  }
}

.#{$duk-namespace}text {
  @each $size in $duk-font-size-list {
    &--#{$size} { @extend %#{$duk-namespace}text--#{$size}; }
  }
}

// Blockquote
//
// Block quote text
//
// Style guide: Typography.blockquote
//
// Markup:
//  <blockquote>
//   <p>Liquorice fruitcake lollipop. Sesame snaps muffin gummies cake. Apple pie
//     dessert sugar plum toffee  Halvah powder chocolate cake pudding. Candy fruitcake jelly
//     beans cake. Marshmallow jelly apple pie cookie. Wafer chupa chups powder wafer.</p>
//  </blockquote>
%#{$duk-namespace}blockquote {
  @include duk-blockquote;
}

@if $duk-include-styles {
  blockquote {
    @extend %#{$duk-namespace}blockquote;
  }
}

// Reset list
//
// Remove margin, padding, list style from a list.
//
// Style guide: Typography.reset-list
//
// Markup:
//  <ul class="duk-reset-list">
//    <li>I am an unordered list item</li>
//    <li>I am an unordered list item</li>
//    <li>I am an unordered list item</li>
//  </ul>
%#{$duk-namespace}reset-list {
  @include duk-reset-list;
}

@if $duk-include-styles {
  .#{$duk-namespace}reset-list { @extend %#{$duk-namespace}reset-list; }
}

// Text crop
//
// Ensure text remains on one line and overflow text is cropped with ellipsis (...).
//
// Style guide: Typography.text-crop
//
// Markup:
//   <p class="duk-text-crop">
//     Liquorice fruitcake lollipop. Sesame snaps muffin gummies cake. Apple pie
//     dessert sugar plum toffee  Halvah powder chocolate cake pudding. Candy fruitcake jelly
//     beans cake. Marshmallow jelly apple pie cookie. Wafer chupa chups powder wafer.
//   </p>
%#{$duk-namespace}text-crop {
  @include duk-text-crop;
}

@if $duk-include-styles {
  .#{$duk-namespace}text-crop { @extend %#{$duk-namespace}text-crop; }
}

// Text alignment
//
// Add `duk-text-align-DIRECTION` to the text wrapper to align the text. Directions are `left`, `right`, `center` & `justify`
//
// .duk-text-align-center - Align center
// .duk-text-align-justify - Justify text
// .duk-text-align-left - Align left
// .duk-text-align-right - Align right
//
// Style guide: Typography.text-align
//
// Markup:
// <p class="{{modifier_class}}">Demo of some aligned text. Liquorice fruitcake lollipop. Sesame snaps muffin gummies cake. Apple pie Halvah powder chocolate cake pudding. Candy fruitcake jelly. </p>

$duk-text-namespace:  $duk-namespace !default;

%#{$duk-text-namespace}text-align-left {
  @include duk-text-align-horizontally(left);
}

%#{$duk-text-namespace}text-align-right {
  @include duk-text-align-horizontally(right);
}

%#{$duk-text-namespace}text-align-center {
  @include duk-text-align-horizontally(center);
}

%#{$duk-text-namespace}text-align-justify {
  @include duk-text-align-horizontally(justify);
}


%#{$duk-text-namespace}text-align-top {
  @include duk-text-align-vertically(top);
}

%#{$duk-text-namespace}text-align-middle {
  @include duk-text-align-vertically(top);
}

%#{$duk-text-namespace}text-align-bottom {
  @include duk-text-align-vertically(top);
}


@if $duk-include-styles == true {

  .#{$duk-text-namespace}text-align-left {
    @extend %#{$duk-text-namespace}text-align-left;
  }

  .#{$duk-text-namespace}text-align-right {
    @extend %#{$duk-text-namespace}text-align-right;
  }

  .#{$duk-text-namespace}text-align-center {
    @extend %#{$duk-text-namespace}text-align-center;
  }

  .#{$duk-text-namespace}text-align-justify {
    @extend %#{$duk-text-namespace}text-align-justify;
  }

  .#{$duk-text-namespace}text-align-top {
    @extend %#{$duk-text-namespace}text-align-top;
  }

  .#{$duk-text-namespace}text-align-middle {
    @extend %#{$duk-text-namespace}text-align-middle;
  }

  .#{$duk-text-namespace}text-align-bottom {
    @extend %#{$duk-text-namespace}text-align-bottom;
  }

} // @endif

// Screen readers only
//
// Hide an element so it is only available to screen readers.
//
// No styleguide reference.
%#{$duk-namespace}sr-only,
%element-invisible {
  @include duk-sr-only;
}

@if $duk-include-styles {
  .#{$duk-namespace}sr-only,
  .element-invisible {
    @extend %#{$duk-namespace}sr-only;
  }
}
