// WYSIWYG
// -------------------------------------------------------

// Styles intended for wysiwyg only.
@if $duk-include-styles {
  @include duk-wysiwyg-only {
    background: duk-color-yiq(duk-get-font-color(body));
    padding: $duk-base-gutter;
    margin: 0;
  }
}
