// Breadcrumb styles
// -------------------------------------------------------

// Breadcrumb
//
// Defines styles for breadcrumb navigation. See `duk-breadcrumb()`
//
// .breadcrumb--path - Display as "path" style.
//
// Style guide: Objects.breadcrumb
//
// Markup:
// <nav class="breadcrumb {{modifier_class}}">
//   <ol class="breadcrumb">
//     <li><a href="#">Home</a></li>
//     <li><a href="#">About</a></li>
//     <li><a href="#">Portfolio</a></li>
//     <li><a href="#">Contact</a></li>
//   </ol>
//  </nav>
%#{$duk-namespace}breadcrumb {
  @include duk-breadcrumb;

  &--path {
    @include duk-breadcrumb($duk-breadcrumb-path-delimit-character);
  }
}


@if $duk-include-styles {
  .breadcrumb {
    @extend %#{$duk-namespace}breadcrumb;
  }
  .breadcrumb--path {
    @extend %#{$duk-namespace}breadcrumb--path;
  }
}
