// Button styles
// -------------------------------------------------------

// Button Colors
//
// Defines button colors. If only `button` class is used it will use `button--primary`.
//
// .button--primary - Primary button style
// .button--secondary - Secondary button style
// .button--tertiary - Tertiary button style
// .button--transparent - Transparent style button.
//
// Style guide: Buttons.1-button-colors
//
// Markup:
//  <p>
//   <a href="#" class="button {{modifier_class}}">Link button</a>
//   <button class="button {{modifier_class}}">Button tag</button>
//   <input type="submit" class="button {{modifier_class}}" value="Submit button" />
//  </p>
%#{$duk-namespace}button {
  @include duk-button;
}

@each $type, $color in $duk-button-colors {
  %#{$duk-namespace}button--#{$type} {
    @include duk-button-variant($color, $color);
  }
}

@if $duk-include-styles {
  .button {
    @extend %#{$duk-namespace}button;
    @extend %#{$duk-namespace}button--primary;
    &.button--transparent { @extend %#{$duk-namespace}button--transparent; }
  }
  @each $type, $color in $duk-button-colors {
    .button--#{$type} {
      @extend %#{$duk-namespace}button;
      @extend %#{$duk-namespace}button--#{$type};
    }
  }
}

// Button Sizes
//
// Defines button sizes. See `$duk-base-button-sizes`.
//
// .button--small - Small button style
// .button--large - Large button style
//
// Style guide: Buttons.2-button-sizes
//
// Markup:
//  <p>
//   <a href="#" class="button--primary {{modifier_class}}">Link button</a>
//   <button class="button--primary {{modifier_class}}">Button tag</button>
//   <input type="submit" class="button--primary {{modifier_class}}" value="Submit button" />
//  </p>
@each $type, $size in $duk-base-button-sizes {
  %#{$duk-namespace}button--#{$type} {
    font-size: $size;
  }
}

@if $duk-include-styles {
  @each $type, $sizein in $duk-base-button-sizes {
    .button--#{$type} {
      @extend %#{$duk-namespace}button--#{$type};
    }
  }
}

// Button set
//
// Applied to a parent wrapper, will set all child links to use the button style. Defaults to primary button.
//
// .button-set--primary - Primary button style
// .button-set--secondary - Secondary button style
// .button-set--tertiary - Tertiary button style
// .button-set--small - Small button style
// .button-set--large - Large button style
//
// Style guide: Buttons.4-button-set
//
// Markup:
//  <p class="button-set {{ modifier_class }}">
//   <a href="#">Link button</a>
//   <button>Button tag</button>
//   <input type="submit" value="Submit button" />
//  </p>
%#{$duk-namespace}button-set {
  @include duk-button-apply-style {
    @include duk-button;
  }
}

@each $type, $color in $duk-button-colors {
  %#{$duk-namespace}button-set--#{$type} {
    @include duk-button-apply-style {
      @include duk-button-variant($color, $color);
    }
  }
}

@each $type, $size in $duk-base-button-sizes {
  %#{$duk-namespace}button-set--#{$type} {
    @include duk-button-apply-style {
      font-size: $size;
    }
  }
}

@if $duk-include-styles {
  .button-set {
    @extend %#{$duk-namespace}button-set;
  }
  @each $type, $color in $duk-button-colors {
    .button-set--#{$type} {
      @extend %#{$duk-namespace}button-set;
      @extend %#{$duk-namespace}button-set--#{$type};
    }
  }
  @each $type, $sizein in $duk-base-button-sizes {
    .button-set--#{$type} {
      @extend %#{$duk-namespace}button-set--#{$type};
    }
  }
}

// Button group
//
// Applied to a parent wrapper, will group all buttons into a single group.
//
// Style guide: Buttons.3-button-group
//
// Markup:
//  <p class="button-set--primary button-group">
//   <a href="#" class="active">Button 1</a>
//   <a href="#">Button 2</a>
//   <a href="#">Button 3</a>
//  </p>
%#{$duk-namespace}button-group {
  @include duk-button-group;
}

@if $duk-include-styles {
  .button-group {
    @extend %#{$duk-namespace}button-group;
  }
}
