// Flyout
// -------------------------------------------------------

// Flyout
//
// Flyouts are pieces of content that fly out of a parent when said parent is hovered.
//
// Style guide: Objects.flyout
//
// .duk-flyout--left - Fylout leff
// .duk-flyout--right - Flyout right
//
// Markup:
// <div style="max-width: 500px">
//   <div class="duk-flyout {{modifier_class}}">
//     Hover over me to see content below
//     <div class="duk-flyout__content duk-island--primary">
//       <p>Flying Hello World</p>
//     </div>
//   </div>
//</div>
%#{$duk-flyout-namespace}flyout {
  @include duk-flyout('.duk-flyout__content');
}

%#{$duk-flyout-namespace}flyout--left {
  @include duk-flyout('.duk-flyout__content', left);
}

%#{$duk-flyout-namespace}flyout--right {
  @include duk-flyout('.duk-flyout__content', right);
}

%#{$duk-flyout-namespace}flyout--top {
  @include duk-flyout('.duk-flyout__content', top);
}


@if $duk-include-styles {

  .#{$duk-flyout-namespace}flyout {
    @extend %#{$duk-flyout-namespace}flyout;
  }

  .#{$duk-flyout-namespace}flyout--left {
    @extend %#{$duk-flyout-namespace}flyout--left;
  }

  .#{$duk-flyout-namespace}flyout--right {
    @extend %#{$duk-flyout-namespace}flyout--right;
  }

  .#{$duk-flyout-namespace}flyout--top {
    @extend %#{$duk-flyout-namespace}flyout--top;
  }

} // @endif
