// Island styles
// -------------------------------------------------------

// Island
//
// A container with a consistent gutter and margin bottom.  See `duk-island()`.
//
// .duk-island--primary - Primary color
// .duk-island--secondary - Secondary color
// .duk-island--tertiary - Tertiary color
//
// Style guide: Objects.island
//
// Markup:
//   <div class="duk-island {{modifier_class}}">
//     <h3>Island heading</h3>
//     <p>Island text</p>
//   </div>
%#{$duk-namespace}island {
  @include duk-island;

  @each $type, $color in $duk-island-colors {
    &--#{$type} {
      @include duk-palette-element($color, $color);
    }
  }
}

// Include styles.
@if $duk-include-styles {
  .#{$duk-namespace}island {
    @extend %#{$duk-namespace}island;
  }

  @each $type, $color in $duk-island-colors {
    .#{$duk-namespace}island--#{$type} {
      @extend %#{$duk-namespace}island;
      @extend %#{$duk-namespace}island--#{$type};
    }
  }
}
