// Layout
//
// Layout objects.
// -------------------------------------------------------

// Containers
//
// A Container horizontally constraints its content to a max width.
//
// .duk-container--small - Small container
// .duk-container--medium - Medium container
// .duk-container--large - Large container
// .duk-container--x-large - Extra large container
// .duk-container--xx-large - Huge large container
//
// Style guide: Layout.1-container
//
// Markup:
//  <div class="{{ modifier_class }} duk-island--tertiary">
//    Bacon ipsum dolor amet t-bone bacon alcatra pig. Meatball ball tip beef bacon, tongue doner pork pork chop ham
//    pastrami beef ribs jowl short loin ground round. Sausage strip steak turkey flank doner ham hock ribeye venison
//    pork belly tri-tip fatback. Salami alcatra meatball swine. Tri-tip sausage frankfurter ham, rump cow burgdoggen
//    porchetta leberkas ham hock capicola beef turducken tail swine. Rump drumstick swine andouille shankle ribeye.
//  </div>
%#{$duk-namespace}container {
  @each $name, $size in $duk-base-containers {
    &--#{$name} {
      @include duk-container($name);
    }
  }
}

@if $duk-include-styles {
  .#{$duk-namespace}container {
    @each $name, $size in $duk-base-containers {
      &--#{$name} { @extend %#{$duk-namespace}container--#{$name}; }
    }
  }
}

// Clearfix
//
// Clear child floats.
//
// Style guide: Layout.2-clearfix
//
// Markup:
//  <div class="duk-clearfix duk-island duk-island--secondary">
//    <div style="float: left">
//      Bacon ipsum dolor amet t-bone bacon alcatra pig. Meatball ball tip beef bacon, tongue doner pork pork chop ham
//    </div>
//    <div style="float: right">
//      Meatball ball tip beef bacon, tongue doner pork pork chop ham
//    </div>
//  </div>
%#{$duk-namespace}clearfix {
  @include duk-clearfix;
}

@if $duk-include-styles {
  .#{$duk-namespace}clearfix { @extend %#{$duk-namespace}clearfix; }
}

// Position
//
// Position helper classes. Also see `duk-position()`
//
// .duk-position--static - Position static
// .duk-position--relative - Position relative
// .duk-position--absolute - Position absolute
// .duk-position--fixed - Position fixed
// .duk-position--sticky - Position sticky (doesn't work in IE)
//
// Style guide: Layout.3-position
%#{$duk-namespace}position {
  @each $position in $duk-base-positions {
    &--#{$position} { position: $position !important; }
  }
}

@if $duk-include-styles {
  .#{$duk-namespace}position {
    @each $position in $duk-base-positions {
      &--#{$position} { @extend %#{$duk-namespace}position--#{$position}; }
    }
  }
}

// Overflow
//
// Overflow helper classes.
//
// .duk-overflow--hidden - Hidden overflow
// .duk-overflow--auto - Auto overflow (scrollbars)
//
// Style guide: Layout.3-overflow
%#{$duk-namespace}overflow {
  &--hidden { overflow: hidden; }
  &--auto { overflow: auto; }
}

@if $duk-include-styles {
  .#{$duk-namespace}overflow--hidden { @extend %#{$duk-namespace}overflow--hidden; }
  .#{$duk-namespace}overflow--auto { @extend %#{$duk-namespace}overflow--auto; }
}

// Gutter helpers
//
// Gutter helper classes. Multiplier values are 1, 2, 3, 4, 5.
//
// Examples:
// ```
//   <div class="duk-mb--3">I have a margin bottom of 3rem</div>
//   <div class="duk-mr--1">I have a margin right of 1rem</div>
//   <div class="duk-pl--2">I have a padding left of 2rem</div>
//   <div class="duk-pt--5">I have a padding top of 5rem</div>
// ```
//
// .duk-mb--1 - margin-bottom (last number is the base gutter multiplier)
// .duk-mt--1 - margin-top (last number is the base gutter multiplier)
// .duk-mr--1 - margin-right (last number is the base gutter multiplier)
// .duk-ml--1 - margin-left (last number is the base gutter multiplier)
// .duk-pb--1 - padding-bottom (last number is the base gutter multiplier)
// .duk-pt--1 - padding-top (last number is the base gutter multiplier)
// .duk-pr--1 - padding-right (last number is the base gutter multiplier)
// .duk-pl--1 - padding-left (last number is the base gutter multiplier)
//
// Style guide: Layout.4-margin-bottom
@each $gutter in $duk-gutter-multipliers {
  %#{$duk-namespace}mb--#{$gutter} { margin-bottom: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}mt--#{$gutter} { margin-top: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}mr--#{$gutter} { margin-right: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}ml--#{$gutter} { margin-left: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}pb--#{$gutter} { padding-bottom: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}pt--#{$gutter} { padding-top: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}pr--#{$gutter} { padding-right: ($duk-base-gutter * $gutter) !important; }
  %#{$duk-namespace}pl--#{$gutter} { padding-left: ($duk-base-gutter * $gutter) !important; }
}

@if $duk-include-styles {
  @each $gutter in $duk-gutter-multipliers {
    .#{$duk-namespace}mb--#{$gutter} { @extend %#{$duk-namespace}mb--#{$gutter}; }
    .#{$duk-namespace}mt--#{$gutter} { @extend %#{$duk-namespace}mt--#{$gutter}; }
    .#{$duk-namespace}mr--#{$gutter} { @extend %#{$duk-namespace}mr--#{$gutter}; }
    .#{$duk-namespace}ml--#{$gutter} { @extend %#{$duk-namespace}ml--#{$gutter}; }
    .#{$duk-namespace}pb--#{$gutter} { @extend %#{$duk-namespace}pb--#{$gutter}; }
    .#{$duk-namespace}pt--#{$gutter} { @extend %#{$duk-namespace}pt--#{$gutter}; }
    .#{$duk-namespace}pr--#{$gutter} { @extend %#{$duk-namespace}pr--#{$gutter}; }
    .#{$duk-namespace}pl--#{$gutter} { @extend %#{$duk-namespace}pl--#{$gutter}; }
  }
}
