// Loader
// -------------------------------------------------------

// Spin loader
//
// Spin border style loader.
//
// Style guide: Loader.1-spinner
//
// Markup:
//  <p>
//    <span class="duk-loader--spin"><span>Loading...</span></span>
//    <span class="duk-loader--spin duk-text--primary"><span>Loading...</span></span>
//    <span class="duk-loader--spin duk-text--secondary"><span>Loading...</span></span>
//    <span class="duk-loader--spin duk-text--tertiary"><span>Loading...</span></span>
//  </p>
%#{$duk-namespace}loader--spin {
  @include duk-loader--spin;
  * { @extend %#{$duk-namespace}sr-only; }
}

@if $duk-include-styles {
  @include duk-animation--spin;

  .#{$duk-namespace}loader--spin {
    @extend %#{$duk-namespace}loader--spin;
  }
}

// Grow loader
//
// Grow style loader.
//
// Style guide: Loader.2-grow
//
// Markup:
//  <p>
//    <span class="duk-loader--grow"><span>Loading...</span></span>
//    <span class="duk-loader--grow duk-text--primary"><span>Loading...</span></span>
//    <span class="duk-loader--grow duk-text--secondary"><span>Loading...</span></span>
//    <span class="duk-loader--grow duk-text--tertiary"><span>Loading...</span></span>
//  </p>
%#{$duk-namespace}loader--grow {
  @include duk-loader--grow;
  * { @extend %#{$duk-namespace}sr-only; }
}

@if $duk-include-styles {
  @include duk-animation--grow;

  .#{$duk-namespace}loader--grow {
    @extend %#{$duk-namespace}loader--grow;
  }
}

// Line loader
//
// Youtube style line loader.
//
// Style guide: Loader.3-line
//
// Markup:
//  <div class="duk-loader--line">
//    <div><span>Loaded 50%...</span></div>
//  </div><br />
//  <div class="duk-loader--line duk-text--primary">
//    <div><span>Loaded 50%...</span></div>
//  </div><br />
//  <div class="duk-loader--line duk-text--secondary">
//    <div><span>Loaded 50%...</span></div>
//  </div><br />
//  <div class="duk-loader--line duk-text--tertiary">
//    <div><span>Loaded 50%...</span></div>
//  </div>
@if $duk-include-styles {
  %#{$duk-namespace}loader--line {
    @include duk-loader--line;
    * > * { @extend %#{$duk-namespace}sr-only; }
  }

  @if $duk-include-styles {
    @include duk-animation--line-loader;

    .#{$duk-namespace}loader--line {
      @extend %#{$duk-namespace}loader--line;
    }
  }
}
