// Messages styles
// -------------------------------------------------------

// Messages
//
// Messages and callouts. See `duk-message-base()` & `duk-message-color()`.
//
// .messages--success - Success message
// .messages--warning - Waring message
// .messages--error - Error message
//
// Style guide: Objects.messages
//
// Markup:
//   <div class="messages {{modifier_class}}">I am a message with a <a href="#">link</a></div>
%#{$duk-namespace}messages {
  @include duk-message-base;

  @each $type, $color in $duk-messages-colors {
    &--#{$type} {
      @include duk-message-colors($color);
    }
  }
}

// Include styles.
@if $duk-include-styles {
  // We include generic `messages` to work OOB with Drupal.
  .#{$duk-namespace}messages,
  .messages {
    @extend %#{$duk-namespace}messages;
  }

  @each $type, $color in $duk-messages-colors {
    .#{$duk-namespace}messages--#{$type},
    .messages--#{$type} {
      @extend %#{$duk-namespace}messages--#{$type};
    }
  }
}
