// Navigation
// -------------------------------------------------------

// Nav horizontal
//
// Creates a navigation bar.
//
// Style guide: Nav.nav-horizontal
//
// Markup:
//  <ul class="duk-nav--horizontal">
//    <li><a href="#">Home</a>
//    <li><a href="#">About</a>
//    <li><a href="#">Projects</a>
//    <li><a href="#">Contact</a>
//  </ul>
%#{$duk-namespace}nav--horizontal {
  @include duk-nav--horizontal;
}

@if $duk-include-styles {
  .#{$duk-namespace}nav--horizontal { @extend %#{$duk-namespace}nav--horizontal; }
}

// Nav vertical
//
// Creates a vertical/stacked bar.
//
// Style guide: Nav.nav-vertical
//
// Markup:
//  <ul class="duk-nav--vertical">
//    <li><a href="#">Home</a></li>
//    <li><a href="#">About</a></li>
//    <li><a href="#">Projects</a></li>
//    <li><a href="#">Contact</a></li>
//  </ul>
%#{$duk-namespace}nav--vertical {
  @include duk-nav--vertical;
}

@if $duk-include-styles {
  .#{$duk-namespace}nav--vertical { @extend %#{$duk-namespace}nav--vertical; }
}

// Nav dropdown
//
// Creates dropdown nav bar.
//
// Style guide: Nav.nav-dropdown
//
// Markup:
//  <ul class="duk-nav--dropdown">
//    <li><a href="#">Home</a></li>
//    <li><a href="#">About</a>
//      <ul>
//        <li><a href="#">Team</a></li>
//        <li><a href="#">Location</a>
//          <ul>
//            <li><a href="#">Perth</a></li>
//            <li><a href="#">Melbourne</a></li>
//          </ul>
//        </li>
//        <li><a href="#">Tools</a></li>
//      </ul>
//    </li>
//    <li><a href="#">Projects</a></li>
//    <li><a href="#">Contact</a></li>
//  </ul>
%#{$duk-namespace}nav--dropdown {
  @include duk-nav--dropdown;
}

@if $duk-include-styles {
  .#{$duk-namespace}nav--dropdown { @extend %#{$duk-namespace}nav--dropdown; }
}

// Nav pills
//
// Create "pill" style nav, commonly used for tags and categories
//
// Style guide: Nav.nav-pills
//
// Markup:
//  <ul class="duk-nav--pills">
//    <li><a class="button--tertiary" href="#">Cats</a></li>
//    <li><a class="button--tertiary" href="#">Dogs</a></li>
//    <li><a class="button--tertiary" href="#">Birds</a></li>
//    <li><a class="button--tertiary" href="#">Cows</a></li>
//  </ul>
%#{$duk-namespace}nav--pills {
  @include duk-nav--pills;
}

// Include styles.
@if $duk-include-styles {
  .#{$duk-namespace}nav--pills { @extend %#{$duk-namespace}nav--pills; }
}

// Nav Tabs
//
// Create "pill" style nav, commonly used for tags and categories
//
// Style guide: Nav.nav-tabs
//
// Markup:
//  <ul class="duk-nav--tabs">
//    <li><a href="#">Home</a></li>
//    <li class="active"><a href="#">Profile</a></li>
//    <li><a href="#">Team</a></li>
//    <li><a href="#">Contact</a></li>
//  </ul>
%#{$duk-namespace}nav--tabs {
  @include duk-nav--tabs;
}

// Include styles.
@if $duk-include-styles {
  .tabs.primary,
  .#{$duk-namespace}nav--tabs { @extend %#{$duk-namespace}nav--tabs; }
}