// Palette
// -------------------------------------------------------

// Text colors
//
// Text color palette
//
// Style guide: Palette.1-text
//
// Markup:
//  <p class="duk-text--primary">Primary text color</p>
//  <p class="duk-text--secondary">Secondary text color</p>
//  <p class="duk-text--tertiary">Tertiary text color</p>
//  <p class="duk-text--body">Body text color</p>
//  <p class="duk-text--heading">Heading text color</p>
//  <p class="duk-text--description">Description text color</p>
%#{$duk-namespace}text {
  @each $name, $color in $duk-font-colors {
    &--#{$name} {
      @include duk-font-color($name, true);
    }
  }
}

@if $duk-include-styles {
  .#{$duk-namespace}text {
    @each $name, $color in $duk-font-colors {
      &--#{$name} {
        @extend %#{$duk-namespace}text--#{$name};
      }
    }
  }
}

// Background colors
//
// Background color palette
//
// Style guide: Palette.2-background
//
// Markup:
//  <p class="duk-bg--primary duk-island">Primary background color</p>
//  <p class="duk-bg--secondary duk-island">Secondary background color</p>
//  <p class="duk-bg--tertiary duk-island">Tertiary background color</p>
%#{$duk-namespace}bg {
  @each $name, $color in $duk-bg-colors {
    &--#{$name} {
      @include duk-bg-color($name);
      color: duk-color-yiq($color);
    }
  }
}

@if $duk-include-styles {
  .#{$duk-namespace}bg {
    @each $name, $color in $duk-bg-colors {
      &--#{$name} {
        @extend %#{$duk-namespace}bg--#{$name};
      }
    }
  }
}
