// Shadow
// -------------------------------------------------------

// Shadow elevation
//
// Shadow elevation styles
//
// Style guide: Shadows.elevation
//
// Markup:
//  <div class="duk-shadow--small duk-island duk-mb--3">Small shadow elevation</div>
//  <div class="duk-shadow--regular duk-island duk-mb--3">Regular shadow elevation</div>
//  <div class="duk-shadow--large duk-island duk-mb--3">Large shadow elevation</div>
%#{$duk-namespace}shadow {
  @each $name, $map in $duk-base-shadows {
    &--#{$name} {
      @include duk-shadow-style($name);
    }
  }
}

@if $duk-include-styles {
  .#{$duk-namespace}shadow {
    @each $name, $map in $duk-base-shadows {
      &--#{$name} { @extend %#{$duk-namespace}shadow--#{$name}; }
    }
  }
}
