// Shapes
// -------------------------------------------------------

// Triangle
//
// Create a CSS triangle
//
// .duk-triangle--right - Right triangle
// .duk-triangle--down - Down triangle
// .duk-triangle--left - Left triangle
// .duk-triangle--up - Up triangle
//
// Style guide Shapes.triangle
//
// Markup:
//   <span class="{{ modifier_class }}" style="position: relative; padding-right: 2em"></span>
$duk-triangle-directions: 'right', 'down', 'left', 'up';
%#{$duk-namespace}triangle {
  @each $dir in $duk-triangle-directions {
    &--#{$dir} {
      @include duk-triangle($dir, 10px, #000, right 0 top 50%);
    }
  }
}

// Include styles.
@if $duk-include-styles {
  .#{$duk-namespace}triangle {
    @each $dir in $duk-triangle-directions {
      &--#{$dir} {
        &:after {
          @extend %#{$duk-namespace}triangle--#{$dir};
        }
      }
    }
  }
}


