// Sidebar
// -------------------------------------------------------

// Slideout sidebar
//
// A slideout sidebar will stay hidden until triggered to open by JS changing a class. It is
// commonly used for nav and can slide out from the left or right. See `duk-sidebar-slideout()`,
// `duk-sidebar-slideout--open()` and `duk-sidebar-slideout--reset()`
//
// By default it uses fixed position but in this example it is overriden to use absolute.
//
// .duk-sidebar-slideout--open - Open sidebar
//
// Markup:
// <div class="duk-position--relative">
//   <div class="duk-sidebar-slideout {{ modifier_class }} duk-position--absolute">
//     <div class="duk-sidebar-slideout__content">
//       <ul>
//          <li>Sidebar link</li>
//          <li>Sidebar link</li>
//          <li>Sidebar link</li>
//       </ul>
//     </div>
//   </div>
//   <p>Liquorice fruitcake lollipop. Sesame snaps muffin gummies cake. Apple pie
//   dessert sugar plum toffee <a href="#">marzipan bonbon sesame</a> snaps halvah.
//   Macaroon croissant sweet cheesecake. <em>Croissant icing</em> muffin. Gingerbread
//   pudding halvah bonbon chupa chups bonbon sugar plum fruitcake ice cream. Bear
//   claw <u>tootsie roll jujubes</u>.</p>
// </div>
//
// Style guide: Sidebar.slideout
%#{$duk-namespace}sidebar-slideout {
  @include duk-sidebar-slideout;

  &--open {
    @include duk-sidebar-slideout--open;
  }

  &--reset {
    @include duk-sidebar-slideout--reset;
  }
}

@if $duk-include-styles {
  .#{$duk-namespace}sidebar-slideout { @extend  %#{$duk-namespace}sidebar-slideout; }
  .#{$duk-namespace}sidebar-slideout--open { @extend  %#{$duk-namespace}sidebar-slideout--open; }
  .#{$duk-namespace}sidebar-slideout--reset { @extend  %#{$duk-namespace}sidebar-slideout--reset; }
}
